   
   <header>
        <a href="/">Home</a>
       <p><a href="/about">About</a></p>
        <p><a href="/project">Portfolio</a></p>
    <h1>{{Title}}</h1> 
        <p><h2>Look at the title</h2></p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat voluptate suscipit tempore. Explicabo minima natus saepe debitis consectetur! Provident incidunt voluptates sint neque, commodi quis consequatur blanditiis deleniti illum ea.</p>

    </header>